body {
    background-color: rgb(205, 86, 50);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h1 {
    font-size: 62px;
    padding: 22px;
	-webkit-text-stroke: 1px white;
	
}

h5 {
    font-size: 42px;
    padding: 18px;
    -webkit-text-stroke: .7px white; 
}

h6 {
    font-size: 24px;
    -webkit-text-stroke: .4px white; 
}
button {
    -webkit-text-stroke: .5px black; 
}

